-
  const cards = [
    {
      ru: {
        number: 1742,
        question:
          "Во избежания повышенного расхода топлива и увеличения выброса вредных веществ следует своевременно осуществить замену:",
        answers: [
          {
            text: "Воздушного фильтра двигателя.",
            correct: true,
          },
          {
            text: "Фильтра вентиляции салона для пассажиров.",
          },
          {
            text: "Стеклоочестителей ветрового стекла.",
          },
        ],
      },
    },
    {
      ru: {
        number: "?",
        question:
          "Что нужно помнить для защиты окружающей среды от вредных веществ:",
        answers: [
          {
            text: "Следует избегать стоянки транспортного средства с включенным двигателем.",
            correct: true,
          },
          {
            text: "В целях сокращении времени движения следует управлять транскортным средством с интенсивным ускорением и резким торможением.",
          },
          {
            text: "Траспортным средством следует управлять на высоких оборотах двигателя.",
          },
        ],
      },
    },
    {
      ru: {
        number: "?",
        question:
          "Что влечет снижения давления воздуха в шинах ниже рекомендуемого уровня?",
        answers: [
          {
            text: "Увеличение расхода топлива.",
            correct: true,
          },
          {
            text: "Уменьшение износа шин.",
          },
          {
            text: "Снижение выброса вредных веществ.",
          },
        ],
      },
    },
  ]

  ;
