// fonts
$font-default: "Open Sans", "Noto Sans Georgian", arial, sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
$container-width: 1250px;

// viewport
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-small-width: 320px;

// padding
$desktop-padding: 55px;
$tablet-padding: 55px;
$mobile-padding: 16px;

// color
$color-white: #ffffff;
$color-black: #000000;
$color-green: #008100;
$color-red: #b10000;

$color-gray-690: #b0b0b0;   // hsl(0, 0%, 69%)
$color-gray-670: #aaaaaa;   // hsl(0, 0%, 67%)
$color-gray-330: #535353;   // hsl(0, 0%, 33%)

$color-item1: #244e5b;
$color-item2: #093253;
$color-item3: #031d26;
$color-item4: #180000;
